section.container-about{
  width: 100vw;
  height: 90vh;
  background-color: #b8c1ec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

article.box-about {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  width: 480px;
  height: 300px;
}

article.box-about > p {
  font-size: 35px;
  width: 780px;
  margin-left: 25px;
  text-align: justify;
}
